header {
    box-sizing: border-box;
    .bgc(@dark);
    width:100%;
    height: auto;
    .flexit(row);
    justify-content: space-around;
    align-content: flex-end;
    padding-top: 1%;

    @media (max-width:800px){
        .flexit(column);
        align-items: center;
        justify-content: center;

        .words {
            display: none;
        }
    }

    h1 {
        font-size: 3rem;
    }
    nav {
        .flexit(row);
        justify-content: space-evenly;
        width: 40%;
        padding-top:2%;

        @media (max-width: 800px){
            .flexit(column);
            text-align: center;
        }

        a {
         color: @text;
         text-decoration: none;
         

         &:hover{
            color: @light;
            font-size: 1.2rem;
            
         }

        }

        .active {
            color: @light;
            text-decoration: underline;
        }

    }
}